<div class="mainstyle" fxLayout="column">
  <h2> Kharak Input: </h2>
  <div fxLayout="column" style="width: 15%;">
    <form (ngSubmit)="onclick(f)" #f="ngForm">
      <mat-form-field>
        <mat-label>Enter Name</mat-label>
        <input matInput required ngModel name="name">
      </mat-form-field>

      <section fxLayout fxLayoutGap="30px">
        <mat-form-field>
          <mat-label>Quantity Given</mat-label>
          <input matInput ngModel type="number" name="qgiven">
          <span matSuffix>kg&nbsp;</span>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Date of Given Product</mat-label>
          <input matInput ngModel type="date" name="givendate">
        </mat-form-field>
      </section>

      <section fxLayout fxLayoutGap="30px">
        <mat-form-field>
          <mat-label>Quantity Recieved</mat-label>
          <input matInput ngModel type="number" name="qrecieved">
          <span matSuffix>kg&nbsp;</span>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Date of Recieved Product</mat-label>
          <input matInput ngModel type="date" name="recieveddate">
        </mat-form-field>
      </section>

      <button mat-raised-button color="primary" type="submit" [disabled]="f.invalid">Add Deatils</button>

      <button mat-raised-button color="accent" type="button" >Payment</button>


     <!-- <app-payment></app-payment> -->
    </form>
  </div>
</div>
